<div class="head">
    <h1>Login</h1>
  </div>
  <div class="form">
    <form action="/users/create-session" method="POST">
      <div class="form-input">
        <input type="email" name="email" placeholder="Email..." required />
      </div>
  
      <div class="form-input">
        <input
          type="password"
          name="password"
          placeholder="Password.."
          required
        />
      </div>
      <div class="form-input">
        <input type="Submit" value="Login" />
      </div>
    
    </form>
  </div>
  <div class="actions">
    <div class="links">Don't have an account?</div>
    <div class="links"><a href="sign-up">Sign Up</a></div>
  </div>